# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  api_url: 'http://api.fyber.com/feed/v1/offers.json'
  secret_key_base: d4afdf60c05d1c500cda1d9a10ace8e764097e9e7c3248b42a43b36826f885c2ea7ab12531bf47ae76004fec18a810cf8c2bbf44cc46dc655ebf4f47ba4a4cc5

test:
  api_url: 'http://api.fyber.com/feed/v1/offers.json'
  secret_key_base: 944476dc69424ed3af341fc6c4ed2a485e037b8b65bcc1f62df9ea40a7931d2ba765fd60ff36ad3aeee3f41a970de4188c5671f5c4d1f5cfb94e5c3add08de68

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  api_url: 'http://api.fyber.com/feed/v1/offers.json'
  api_key: <%= ENV["SECRET_API_KEY"] %>
  appid: <%= ENV["SECRET_API_ID"] %>
  device_id: <%= ENV["SECRET_DEVICEI_ID"] %>
  ip: <%= ENV["SECRET_IP"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
